streamlit
pandas
requests
fastapi
uvicorn
python-multipart
pydantic
loguru
langchain
langchain-core
langchain-community
langchain-huggingface
chromadb

torch

transformers
accelerate
sentencepiece
PyMuPDF
pdfplumber
geopandas
rasterio
shapely
folium
matplotlib
numpy
FlagEmbedding
